# Swift Playgrounds

# Xcode / Playgrounds (configurações locais)
xcuserdata/
timeline.xctimeline
playground.xcworkspace

# Build artifacts
.build/
*.ipa
*.dSYM
*.dSYM.zip

# Sistema / editor
.DS_Store
*.swp
*.log
